#about{
    z-index: 10;
    width: 100%;
    color: #A7A7A7;
    background-color: #0a0a0a;
	margin:0;
    padding:0;
    overflow: hidden;
}

#about .about-text{
    text-align: center;
}

#about .card{
    background-color: transparent;
    border: none;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

#about .card .card-img-top{
    max-width: 100%;
    margin: 0px auto;
    padding-bottom: 20px;
}
#about .card .card-title{
    -webkit-transition: color 500ms linear;
    -moz-transition: color 500ms linear;
    transition: color 500ms linear;
}
#about .card .card-title:hover{
    color: yellow;
    cursor: pointer;
}


#about .resume p{
    color: rgb(119, 119, 119);
}
#about .resume h4{
    color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
}

#about hr{
    height: 1px;
    width: 90%;
    border-color: rgba(255, 255, 255, 0.096);
    border-style: dotted;
}

#about .resume-btn{
    background-color: black;
    padding: 20px 20px;
    border-radius: 10px;
    color: rgb(204, 204, 204);
    text-transform: uppercase;
    border-bottom: 1px dotted white;
    transition: all 1s;
}
#about .resume-btn:hover{
    background-color: yellow;
    color: black;
    font-weight: bold;
}