.cn-wrapper{
    font-size:1em;
    width: 26em;
    height: 26em;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    bottom: -13em;
    left: 50%;
    border-radius: 50%;
    margin-left: -13em;
    transform: scale(0.1);
    pointer-events: none;
    transition: all .3s ease;
}

.opened-nav {
    border-radius: 50%;
    pointer-events: auto;
    transform: scale(1);
}

.cn-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:0; 
    visibility: hidden;
    transition: all .3s ease;
    z-index: 998;
}

/* Class added to the overlay via JavaScript to show it when navigation is open */
.cn-overlay.on-overlay{
    visibility: visible;
    opacity: 1;
}

.cn-overlay.on-overlay p{
    color: rgba(255, 255, 255, 0.66);
    font-family: cursive;
    text-align: center;
    top: 20%;
    font-size: 12px/2px;
}


.cn-button {
    border: none;
    background: none;
    color: white;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 1em;
    height: 3.5em;
    width: 3.5em;
    background-color: transparent;
    position: fixed;
    left: 50%;
    margin-left: -1.75em;
    bottom: -1.75em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    box-shadow: 0px 0px 10px white;
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus{
    color: white;
    outline: none;
}

.cn-wrapper li{
    position: absolute;
    font-size: 1.5em;
    width: 10em;
    height: 10em;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-top: -1.3em;
    margin-left: -10em;
    transition: border .3s ease;;
}

.cn-wrapper li a{
    display: block;
    font-size: 1.18em;
    height: 14.5em;
    width: 14.5em;
    position: absolute;
    bottom: -7.25em;
    right: -7.25em;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    padding-top: 1.8em;
    text-align: center;
    transform: skew(-50deg) rotate(-70deg) scale(1);
    transition: opacity 0.3s, color 0.3s;
}

.cn-wrapper li a span {
    font-size: 0.9em;
    opacity: 0.7;
}

.cn-wrapper li:first-child {
    transform: rotate(-10deg) skew(50deg);
}

.cn-wrapper li:nth-child(2) {
    transform: rotate(30deg) skew(50deg);
}

.cn-wrapper li:nth-child(3) {
    transform: rotate(70deg) skew(50deg)
}

.cn-wrapper li:nth-child(4) {
    transform: rotate(110deg) skew(50deg);
}

.cn-wrapper li:nth-child(5) {
    transform: rotate(150deg) skew(50deg);
}

.cn-wrapper li:nth-child(odd) a {
    background-color: rgba(255, 255, 255, 0.03);
}

.cn-wrapper li:nth-child(even) a {
    background-color: transparent;
}

/* active style */
.cn-wrapper li.active a {
    background-color: rgba(255, 255, 255, 0.1);
}

/* hover style */
.cn-wrapper li:not(.active) a:hover,
.cn-wrapper li:not(.active) a:active,
.cn-wrapper li:not(.active) a:focus {
    background-color: rgba(255, 255, 255, 0.12);
}
.cn-wrapper li:not(.active) a:focus {
    position: fixed; /* fix the "displacement" bug in webkit browsers when using tab key */
}

@media screen and (max-width:480px){
    .cn-wrapper{
      font-size:.68em;
    }
    .cn-button{
      font-size:1em;
    }
    .cn-wrapper li {
      font-size:1.52em;
    }
}
  
  @media screen and (max-width:320px){
    .cn-wrapper{
      width:15.15px;
      margin-left: -7.5em;
    }
    .cn-wrapper li{
      height:3em;
      width:3em;
    }
}