.bulb-container{
    z-index: 1000;
    position: fixed;
    top: 0;
    right: calc(5% + 5px);
    width: 80px;
    height: 150px;
}

.bulb-container .rope{
    position: absolute;
    top: 0px;
    right: 50%;
    width: 2px;
    height: 110px;
    margin-left: -1px;
    transform-origin: 0 0;
    border-left: 2px groove white;
    animation: oscillation .9s ease-in-out 0s infinite alternate;
}
.bulb-container .glue{
    left: -6px;
    top: 100%;
    position: absolute;
    border-bottom: 12px solid rgba(2,162,249,.73);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    height: 0;
    width: 10px;
    z-index: 1002;
}

.bulb-container .bulb{
    position: absolute;
    height: 42px;
    width: 42px;
    border-radius: 100%;
    top: calc(100% + 11px);
    left: 0;
    margin-left: -20px;
    box-shadow: inset 0px 0px 10px #3B3939;
    background-color: #222020;
}
.bulb-container .bulb.on{
    background-color: white;
    box-shadow: 0 0 10px rgba(255,255,255,.8), 0 0 30px rgba(255,255,255,.8), 0 0 50px rgba(255,255,255,.6), 0 0 70px rgba(255,255,255,.6), -80px -15px 120px 0 rgba(255,255,255,.4);
    
}

.bulb-container .bulb:hover{
    cursor: pointer;
}



@keyframes oscillation {
    0%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(5deg);
    }
} 



@media (min-width:768px) {
    .bulb-container{
        width: 130px;
        height: 250px;
    }
    
    .bulb-container .rope{
        height: 135px;
    }
    
    .bulb-container .bulb{
        height: 52px;
        width: 52px;
        top: calc(100% + 13px);
        margin-left: -26px;
    }
    
    .bulb-container .glue{
        left: -7px;
        border-bottom: 15px solid rgba(2,162,249,.73);
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        width: 12px;
    }  
}